@import "../../css/colors.css";

.modal-content {
    max-width: 550px;
    margin-top: 50px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
    max-height: 85vh;
    overflow: auto;
}
[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

.button-container,
.loading,
.error,
.empty,
.restore-point-container,
.legacy-transition {
    margin: 1rem 0 0 0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}
.button {
    font: inherit;
    color: inherit;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
    color: $ui-white;
    background: $motion-primary;
}
.button:disabled {
    opacity: 0.8;
}
.delete-all-button {
    margin-left: auto;
    background-color: $data-primary;
}

.error-message {
    font-family: monospace;
    user-select: text;
}

.restore-point-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.restore-point {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid $ui-black-transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
}
.restore-point:hover {
    border-color: $motion-primary;
}
.restore-point-details {

}
.restore-point-thumbnail {
    display: block;
    border-radius: 0.25rem;
    width: 100px;
    height: 100%;
    max-height: 100px;
}
.restore-point-title {
    font-weight: bold;
}

.delete-button {
    appearance: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1;
    margin-left: auto;
}
.delete-button:hover {
    background-color: $ui-black-transparent;
}

.legacy-transition {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(128, 0, 128, 0.18);
    border: 2px solid rgba(128, 0, 128, 0.568);
    text-align: center;
    font-weight: bold;
}
.load-legacy-button {
    margin-left: 1rem;
    background-color: $pen-primary;
}
