@import "../../css/colors.css";

.modal-content {
    max-width: 550px;
    margin-top: 50px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}
[theme="dark"] .body {
    color: $text-primary;
    background: $ui-primary;
}

.body p:not(:first-child),
.button-container,
.loading,
.error,
.empty,
.restore-point-container {
    margin: 1rem 0 0 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button {
    font: inherit;
    color: inherit;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
    color: $ui-white;
    background: $motion-primary;
}
.button:disabled {
    opacity: 0.8;
}
.create-button {

}
.delete-all-button {
    background-color: $data-primary;
}

.error-message {
    font-family: monospace;
    user-select: text;
}

.restore-point-container {
    display: flex;
    flex-direction: column;
}
.restore-point {
    appearance: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $ui-black-transparent;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.restore-point:hover {
    border-color: $motion-primary;
}
.restore-point-details {
    display: flex;
    flex-direction: column;
}
.restore-point-title {
    font-weight: bold;
}
.restore-point-date {

}
.restore-point-assets {

}

.delete-button {
    appearance: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1;
}
.delete-button:hover {
    background-color: $ui-black-transparent;
}

.legacy-transition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(128, 0, 128, 0.18);
    border: 1px solid rgba(128, 0, 128, 0.568);
    text-align: center;
    font-weight: bold;
}
.load-legacy-button {
    margin-left: 1rem;
    background-color: $pen-primary;
}
